<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container">
      <h3>
        <%@config = configure_app %>
        <%= link_to @config[:main_page ][:application_name], main_app.root_path %>
        
      </h3>
      <ul class="nav nav-pills pull-right" id="nav">
        <li>
        <%=link_to "Home", main_app.root_path  %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" rel="tooltip" title="Your personal area">User</a>
          <ul class="dropdown-menu">
          <%if user_signed_in?%>
              <li><%=link_to "Profile", profile_path( current_user), class:"menu-item-1", rel:"tooltip" , title:"Your personal details"%></li>
              <li><%=link_to "Edit your profile", user_edit_path(current_user), rel: "tooltip", title: "Logout out of your current session" %></li>
              <li><%=link_to "Sign out", signout_path, rel: "tooltip", title: "Logout out of your current session" %></li>
              <li><%=link_to "All Users", users_index_path, rel: "tooltip", title: "Logout out of your current session" %></li>
            <%else%>
              <li><%=link_to "sign in", signin_path, rel: "tooltip", title: "Login to and join the action" %></li>
            <%end %>
          </ul>
        </li>
      </ul>
      <!-- - 
      <form class="pull-left" action="">
        <input type="text" placeholder="Search">
      </form>
      <ul class="nav secondary-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a href="#">Secondary link</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Another link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    -->

